@font-face {
    font-family: 'lucidaGrande'; 
    src: url("fonts/Lucida Grande/LucidaGrande-Regular.otf") format("opentype");
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'lucidaGrande'
}

body {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 > * {
    vertical-align: middle;
}

button.red {
    background-color: red;
    color: white;
    border: 1px solid black;
    font-weight: bold;
}

#transcription-section {
    flex:1;
}

.dark-mode {
    filter: invert(100%);
}

article {
    border: 1px solid lightgray;
    padding:50px;
    background-color: black;
    color:white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* transform: translateY(-50%) translateX(-50%); */
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
}

#parameters-section {
    margin-top: 1rem;
}

#scroller {
    height: 2.4em;
    line-height: 1.2em;
    overflow: hidden;
}

#scroller.smaller {
    animation-name: smallerText;
    animation-duration: 1s;
    transform: scale(0.8);
    position: relative;
    right: 100px;
    bottom: 10px;
}

#scroller.normal {
    animation-name: normalText;
    animation-duration: 1s;
    transform: scale(1);
    position: relative;
    right: 0px;
    bottom: 0px;
}

#scroller * {
    overflow-anchor: none;
}

#force-scroll {
    height: 2.4em;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

#logo-linto-inline, #logo-linagora-inline {
    height: 0.9em;
    vertical-align: middle;
}

#logo-linagora-title {
    vertical-align: middle;
    height: 40px;
    margin-right: 20px;
}

#watermark {
    position: absolute;
    opacity: 0;
    font-size: 1.2rem;
}

#watermark.hidden {
    position: absolute;
    opacity: 0;
    animation-duration: 1s;
    animation-name: slideout;

}

#watermark.displayed {
    display: block;
    animation-duration: 1s;
    animation-name: slidein;
    position: absolute;
    right:50px;
    bottom:50px;
    opacity: 1;
}



@keyframes slidein {
    from {
        right:0px;
        bottom:0px;
        opacity: 0;
    }
  
    to {
        right:50px;
        bottom:50px;
        opacity: 1;
    }
}

@keyframes slideout {
    from {
        right:50px;
        bottom:50px;
        opacity: 1;
    }
  
    to {
        right:0px;
        bottom:0px;
        opacity: 0;
    }
}

@keyframes smallerText {
    from {
        transform: scale(1);
        position: relative;
        right: 0px;
        bottom: 0px;
    }
  
    to {
        transform: scale(0.8);
        position: relative;
        right: 100px;
        bottom: 10px;
    }
}

@keyframes normalText {
    from {
        transform: scale(0.8);
        position: relative;
        right: 100px;
        bottom: 10px;
    }
  
    to {
        transform: scale(1);
        position: relative;
        right: 0px;
        bottom: 0px;
    }
}
