html {
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 > * {
    vertical-align: middle;
}

#transcription-section {
    flex:1;
}

.dark-mode {
    filter: invert(100%);
}

article {
    border: 1px solid lightgray;
    padding:50px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;
}

#scroller {
    height: 2.4em;
    line-height: 1.2em;
    overflow: auto;
    
}

#scroller * {
    overflow-anchor: none;
}

#force-scroll {
    height: 2.4em;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

#logo-linto-inline, #logo-linagora-inline {
    height: 0.9em;
    vertical-align: middle;
}

#logo-linagora-title {
    vertical-align: middle;
    height: 40px;
    margin-right: 20px;
}